:root {
  background: #26335d;
  color: #fafafa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background: #26335d;
}

li {
  float: left;
}

li a {
  display: flex;
  padding: 14px 16px;
  text-decoration: none;
  color: #fafafa;
}

ul {
  list-style-type: none;
}

.BrandName{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:0.1px;
}

.short-red-line {
  display: inline-block;
  width: 87px; /* Adjust the width */
  height: 6px; /* Adjust the thickness */
  background-color: red;
  margin-block: 30px;
}

.paragraph{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: white;
  margin-block: 30px;
}
.center-li {
  font-weight: 500;
  font-size: larger;
}
.joinus {
  text-decoration: none;
  color: #fafafa;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
}
.learnmore{
  text-decoration: none;
  color: #8d5cf6;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.button-top {
  background-color: #8d5cf6;
  padding: 12px 28px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}
.button-1 {
  background-color: #8d5cf6;
  padding: 12px 28px;
  border: none;
  color: #fafafa;
  border-radius: 5px;
}
.button-2 {
  background-color: transparent;
  padding: 12px 28px;
  border: none;
  color: #fafafa;
  border-radius: 5px;
  border: 1px solid #ececec;
  margin-left: 10px;
}

.purple-text {
  color: #8d5cf6;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-top: 50px;
}
h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  margin-top: 30px;
}
h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-block: 30px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: white;
}

.arrow right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

footer {
  background-color: #fafafa;
}
