:root {
  background: #26335d;
  color: #fafafa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background: #26335d;
}

li {
  float: left;
}

li a {
  display: flex;
  padding: 14px 16px;
  text-decoration: none;
  color: #fafafa;
}

ul {
  list-style-type: none;
}

.BrandName {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.short-red-line {
  display: inline-block;
  width: 87px; /* Adjust the width */
  height: 6px; /* Adjust the thickness */
  background-color: red;
  margin-block: 30px;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: white;
  margin-block: 30px;
}
.center-li {
  font-weight: 500;
  font-size: larger;
}
.join-us {
  text-decoration: none;
  color: #fafafa;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2px;
}
.join-us-1 {
  font-size: 18px;
  margin-left: 15px;
  font-weight: 50 !important;
}
.learnmore {
  text-decoration: none;
  color: #8d5cf6;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.learnmore-1 {
  font-size: 30px;
}
.button-top {
  background-color: #8d5cf6;
  padding: 12px 28px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}
.button-1 {
  background-color: #8d5cf6;
  padding: 15px 40px;
  border: none;
  color: #fafafa;
  border-radius: 5px;
}
.button-2 {
  background-color: transparent;
  padding: 15px 40px;
  border: none;
  color: #fafafa;
  border-radius: 5px;
  border: 1px solid #ececec;
  margin-left: 10px;
}

.purple-text {
  color: #8d5cf6;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-top: 50px;
}
h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  margin-top: 30px;
}
h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-block: 30px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: white;
}

.arrow right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* video part  */
#videoContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Initially hidden */
}

#closeVideo {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

footer {
  background-color: #fafafa;
}
